.light {
  --clr-bg: var(--clr-primary-300);
  --clr-bg-accent: var(--clr-primary-400);
  --clr-text-primary: var(--clr-neutral-900);
  --clr-text-inverted: var(--clr-neutral-100);

  /* game specific variables */
  --clr-activate: var(--clr-primary-500);
  --clr-alpha: hsla(0, 0%, 0%, 0.1);
  --clr-btn: var(--clr-primary-200);
  --clr-clear: var(--clr-error-400);
  --clr-clear-on: var(--clr-error-600);
  --clr-from: var(--clr-primary-100);
  --clr-text-activate: var(--clr-text-inverted);
  --clr-text-danger: var(--clr-error-500);
  --clr-text-warn: var(--clr-warn-600);
  --clr-tile: var(--clr-primary-200);
  --clr-tile-on: var(--clr-primary-500);
  --clr-tile-adj: var(--clr-slate-400);
  --clr-tile-adj-on: var(--clr-slate-600);
  --clr-tile-selected: var(--clr-primary-400);
  --clr-tile-selected-on: var(--clr-primary-500);
  --clr-to: var(--clr-primary-300);
}

.dark {
  --clr-bg: var(--clr-primary-900);
  --clr-bg-accent: var(--clr-primary-700);
  --clr-text-primary: var(--clr-neutral-100);
  --clr-text-inverted: var(--clr-neutral-900);

  /* game specific variables */
  --clr-activate: var(--clr-primary-500);
  --clr-alpha: hsla(0, 0%, 0%, 0.3);
  --clr-btn: var(--clr-neutral-600);
  --clr-clear: var(--clr-error-700);
  --clr-clear-on: var(--clr-error-800);
  --clr-from: var(--clr-primary-700);
  --clr-text-activate: var(--clr-text-primary);
  --clr-text-danger: var(--clr-error-400);
  --clr-text-warn: var(--clr-warn-400);
  --clr-tile: var(--clr-primary-800);
  --clr-tile-on: var(--clr-primary-600);
  --clr-tile-adj: var(--clr-slate-600);
  --clr-tile-adj-on: var(--clr-slate-400);
  --clr-tile-selected: var(--clr-primary-500);
  --clr-tile-selected-on: var(--clr-primary-400);
  --clr-to: var(--clr-primary-900);
}

/* passage */
passage-auth {
  /* Passage Container Styles */
  --passage-container-background: inherit;
  --passage-container-max-width: 220px;
  --passage-container-margin: auto;
  --passage-container-padding: 30px 30px 20px;
  --passage-error-color: var(--clr-error-400);

  /* Body Font Styles */
  --passage-body-font-family: 'DM Sans', BlinkMacSystemFont, -apple-system,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --passage-body-font-size: 14px;
  --passage-body-font-weight: 400;
  --passage-body-text-color: var(--clr-text-primary);

  /* Header Font Styles */
  --passage-header-font-family: 'DM Sans', BlinkMacSystemFont, -apple-system,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --passage-header-font-weight: 700;
  --passage-header-text-color: var(--clr-text-primary);
  --passage-header-font-size: 24px;

  /* Button Styles */
  --passage-button-font-size: 16px;
  --passage-button-font-weight: 400;
  --passage-button-width: 50%;
  --passage-button-border-radius: 75px;

  /* Color Palette */
  --passage-onprimary-color: var(--clr-neutral-100);
  /* text color on primary control background */
  --passage-primary-color: var(--clr-primary-500);
  /* main color used for controls */

  --passage-onhover-color: var(--clr-text-inverted);
  --passage-hover-color: var(--clr-primary-600);

  --passage-onactive-color: var(--clr-text-primary);
  --passage-active-color: var(--clr-text-primary);

  /* Email and Phone Input Styles */
  --passage-control-border-radius: 5px;
  --passage-control-border-color: var(--clr-neutral-500);
  --app-text: var(--clr-text-primary);
}

.dark passage-auth {
  --passage-body-text-color: var(--clr-text-primary);
  --passage-header-text-color: var(--clr-text-primary);

  /* Color Palette */
  --passage-onprimary-color: #fff;

  /* main color used for controls */
  --passage-onhover-color: #fff;
  --passage-hover-color: #4d4d4d;

  --passage-onactive-color: #fff;
  --passage-active-color: #6b6b6b;

  /* Email and Phone Input Styles */
  --passage-control-border-color: #dbdbdb;
  --app-text: #171717;
}

passage-auth::part(input) {
  border: none;
  outline: none;
  border-bottom: 2px solid var(--clr-text-primary);
  background-color: inherit;
  border-radius: 0;
}

passage-auth::part(input):focus {
  border-bottom-color: var(--passage-primary-color);
}