.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.text-large {
  font-size: x-large;
  font-weight: var(--fw-bold);
}
.text-center {
  text-align: center;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-12 {
  margin-top: 3rem;
}