.nav {
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: var(--clr-bg-accent);
  position: relative;
}

.nav a {
  text-decoration: none;
  color: var(--clr-text-primary);
}

.login__button {
  position: relative;
  border: none;
  outline: none;
  padding: 0.25rem 1rem; 
  background-color: transparent;
  color: inherit;
}
.login__button:is(:hover, :focus, :active) {
  outline: 1px solid var(--clr-text-primary);
  border-radius: 0.25rem;
  animation: bounce 1s ease 0.4s;
}

.login__form {
  position: absolute;
  right: 0.5rem;
  top: calc(100% + 0.5rem);
  overflow: hidden;
  border-radius: 0.5rem;
  display: none;
  padding: 1rem;
  background-color: var(--clr-bg-accent);
  z-index: 100;
}
.active {
  display: block;
}

.logo {
  position: relative;
  display: flex;
  font-size: 2.5rem;
  letter-spacing: .25rem;
  font-family: var(--ff-accent);
  font-weight: var(--fw-bold);
}


.logo:hover .logo__g {
  animation: bounce 1s ease;
}

.logo:hover .logo__r {
  animation: bounce 1s ease 0.1s;
}

.logo:hover .logo__e {
  animation: bounce 1s ease 0.2s;
}

.logo:hover .logo__p {
  animation: bounce 1s ease 0.3s;
}

.logo:hover .logo__l {
  animation: bounce 1s ease 0.4s;
}

.link__play {
  border-radius: .5rem;
  background-color: var(--clr-primary-500);
  padding: 0.25rem 1rem;
  color: var(--clr-neutral-100);
}

.nav a:hover,
.nav a:focus {
  animation: wiggle 200ms ease-in-out;
}

@keyframes bounce {
  0% { transform: scale(1, 1) translateY(0); }
  10% { transform: scale(1.1, 0.9) translateY(0); }
  30% { transform: scale(0.9, 1.1) translateY(-20px); }
  50% { transform: scale(1.05, 0.95) translateY(0); }
  58% { transform: scale(1, 1) translateY(-7px); }
  65% { transform: scale(1, 1) translateY(0); }
  100% { transform: scale(1, 1) translateY(0); }
}

@keyframes wiggle {
  0%, 100% { transform: rotate(-5deg); }
  50% { transform: rotate(5deg); }
}